/*列表*/
ul {
	list-style-type: disc;
	list-style-image: url(1.jpg);
	list-style-position: inside;
}

/*list-item样式*/
list-style-type: {
	disc, /*默认原点*/
	circle, /*圆形*/
	square, /*方形*/
	none, /*无*/
}

/*list-item自定义样式*/
list-style-image:url(图片位置)


list-style-position: {
	inside, /*标记位于列表选项中，文本环绕标记的下面*/
	outside; /*标记位于列表选项外，标记环绕在文本下面*/
}