<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/mommodity.css">
    <link rel="stylesheet" type="text/css" href="css/other.css">
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="js/shop.js"></script>
</head>

<body>
    <div class="left"></div>
    <div class="content">
        <div class="header"></div>
        <div class="middle">
            <div class="item_page">
                <div class="item_nav">
                    <ul>
                        <li><a href="#">销量</a></li>
                        <li><a href="#">新品</a></li>
                        <li><a href="#">评价</a></li>
                    </ul>
                </div>
                <div class="item_find">
                    <button id="search" type="button" name="">搜索</button>
                    <input id="search_key" type="text" ></input>
                </div>
            </div>
            <hr/>
            <div class="item_list">
                {% for item in items %}
                <div class="item_bar">
                    <div class="item_snapshot">
                        <div class="item_img">
                            <a class="item_url" itemId="{{item.id}}">
                                <img src="{{ item.piture }}" />
                            </a>
                        </div>
                        <!--
                        <div class="item_desc">
                            <div>
                                {{item.detail}}
                            </div>
                        </div>
                         -->
                    </div>
                    <div class="item_shop">
                        <div class="item_name">
                            {{item.name}}
                        </div>
                        <div class="item_price">
                            {{item.price}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <hr/>
        </div>
        <div class="footer"></div>
    </div>
    <div class="right"></div>
</body>
    <script type="text/javascript" src="js/mommodity.js"></script>
</html>
