<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/mommodity.css">
    <link rel="stylesheet" type="text/css" href="css/other.css">
    <script type="text/javascript" src="js/shop.js"></script>
</head>

<body>
    <div class="header"></div>
    <div class="content">
        <div class="left"></div>
        <div class="middle">
            <div class="item_page">
            	<div class="item_nav">
            		<ul>
            			<li><a href="#">销量</a></li>
            			<li><a href="#">新品</a></li>
            			<li><a href="#">评价</a></li>
            		</ul>
            	</div>
            	<div class="item_find">
            		<button type="button" name="" onclick="search()">搜索</button>
            		<input type="text" id="search_key"></input>
            	</div>
            </div>
            <hr/>
            <div class="item_list">
                {% for item in items %}
                <div class="item_bar">
                    <div class="item_snapshot">
                        <div class="item_img">
                            <img src="{{ item.piture }}" />
                        </div>
                        <div class="item_desc">
                            <div>
                                {{item.detail}}
                            </div>
                            <div>
                                <a href="javascript:showItemDetail({{item.id}})">
                            	查看
                    		</a>
                            </div>
                        </div>
                    </div>
                    <div class="item_shop">
                        <div class="item_name">
                            {{item.name}}
                        </div>
                        <div class="item_price">
                            {{item.price}}
                        </div>
                        <div class="item_visit">
                            <button type="button" onclick="showItemDetail({{item.id}})">查看</button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="right"></div>
    </div>
    <div class="footer">
    </div>
</body>
</html>
