.nav {
	margin: 0;
	padding: 20px 20%;
	border: black 1px solid;
	height: 500px;
	min-width: 400px;
	text-align: center;
}

.nav-item {
	float: left;
	position: relative;
	width: 25%;
}

.nav-item a{
	text-decoration: none;
}

.nav-item a:hover {
	text-decoration: underline;
	background-color: gray;
}

