类用于一类 css符号.name{} html符号class=""
id用于单个 css符号#name{} html符号id=""

-------------------------------------------------------------
<link type="text/css" href="1.css" rel="stylesheet" media="">

media
=>screen 		电脑屏幕
=>print 		打印机
=>handheld		移动设备
=>aural			高速浏览器
=>Braille		盲文
=>projection	电传打印机
=>tty			终端设备
=>tv			电视


-------------------------------------------------------------
text-align 会英雄各个内联元素

-------------------------------------------------------------
div h2 {

}

div 父元素 h2子孙元素

-------------------------------------------------------------
块 			内联
blockquote  q
div 		span

-------------------------------------------------------------
伪类
:link :visited :hover :first-child

-------------------------------------------------------------
清除之前所有样式 
{ 
	clear:both;
}

-------------------------------------------------------------
忽略某一样式
{
	color:blue !important;
}

-------------------------------------------------------------
样式表优先级：作者>读者>浏览器

-------------------------------------------------------------
块从上到下，内联从左到右

-------------------------------------------------------------
position定义为absolute, fixed, relative
z-index值越大，显示越前面

-------------------------------------------------------------
绝对位置
left:1px;
right:1px;
top:1px;
bottom:1px;


-------------------------------------------------------------
table 
caption:标题
th:table header
tr:table row
td:table data

rowspan="2" 一格占据两行
colspan="2" 一格占据两列

-------------------------------------------------------------
GET 传递256个字符
POST 无限制

-------------------------------------------------------------
伪元素选择符
p:first-letter {

}

p: {

}

-------------------------------------------------------------
属性选择符
img[width] {

}
img[height="300"] {

}

-------------------------------------------------------------
兄弟属性选择符
h1+p {

}

-------------------------------------------------------------
组合选择符

含有id的元素
.red p {

}

起始到终止间的所有元素
div#greentea > blockquote {

}

-------------------------------------------------------------
搜索
<meta name="keywords" content="keyword phrase 1, keyword phrase 2" />
<meta name="description" content="about page" />

alt和title

私有
<meta name="robots" content="noindex,nofollow" />

-------------------------------------------------------------
@import url（style.css）css的路径要和本来css路径一致，如果不是在同一目录下，那么就在url后面写入相应的路径了
@import "1.css"